<div class="checkout-page">
  <div class="top-nav"></div>
  <div class="checkout">
    <div class="header">
      <h3>My Shop | Checkout</h3>
    </div>
    
    <div class="container">
      <div class="address-wrapper">
        <div class="address-top-bar"></div>
        <div class="address-header">
          <!-- marker icon here -->
          <h5 class="address-header-text">Delivery Address</h5>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 user-address">
              <h6>Kenneth Adrian Buenavista</h6>
              <h6>(+63) 9272559083</h6>
            </div>
            <div class="col-lg-9">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero velit deserunt itaque id, error nulla sequi debitis vitae asperiores consequatur sunt optio laudantium architecto, modi veritatis, sit corporis blanditiis. Adipisci?</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="product-list-wrapper">
        <div class="container-fluid">
          <div class="product-list-header row">
            <div class="col-lg-5 col-md-12 col-sm-12">
              <h5 class="product-list-header-text title">Products Ordered</h5>
            </div>
            <div class="col-lg-2 col-md-4">
              <p class="product-list-header-text text">Unit Price</p>
            </div>
            <div class="col-lg-2 col-md-4">
              <p class="product-list-header-text text">Amount</p>
            </div>
            <div class="col-lg-3 col-md-4">
              <p class="product-list-header-text text">Item Subtotal</p>
            </div>
          </div>
          <div class="product-list row">
            <div class="col-lg-5">
              <div class="product-detail">
                <p class="product-name">Phone case orange</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-4">
              <p class="">P 299</p>
            </div>
            <div class="col-lg-2 col-md-4">
              <p class="">1</p>
            </div>
            <div class="col-lg-3 col-md-4">
              <p class="">P 299</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <p class="order-total">Order Total: (1 Item): P 299</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="payment-option-wrapper">
        <div class="container-fluid">
          <div class="payment-option-header row">
            <div class="col-lg-3">
              <h5 class="payment-option-header-text">Payment Option</h5>
            </div>
            <div class="col-lg-9">
              <div class="row">
                <p class="selected">Credit card</p>
                <p class="select">Cash on Delivery</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="payment-variation container-fluid">
          <div *ngIf="cardsArray.length > 0" class="row">
            <div class="col-lg-3 col-md-12">
              <h6 class="view-title">Select payment account:</h6>
            </div>
            <div class="col-lg-9 col-md-12">
              <div *ngFor="let card of cardsArray" class="card-detail">
                <input class="form-check-input" type="radio" name="card-detail-radio" id="card-detail-radio">
                <label class="form-check-label" for="card-detail-radio">
                  {{card.cardHolder}}, {{card.cardNumber}}, {{card.expirationDate}}
                </label>
                <img src="assets/img/mastercard.jpg" id="mastercard" width="50px">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-12"></div>
            <div class="col-lg-9 col-md-12">
              <button class="add-card-btn" (click)="navigateToCardRegistration()">
                {{buttonAction}} New Card
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>